/* fonts */

body{
    font-family: 'Cormorant Garamond', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
}

/* common style */
h1{
    font-size: 50px;
    
    margin: 0;
}

.hover{
    width: 80%;
    padding: 50px 100px;
    
}

.flexible-container{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;

}
.half-width img{
    width: 80%;
    
}
.profile img{ 
    width: 450px;
    margin-bottom: 30px;
}


/* button style */

.link-button{
    text-decoration: none;
    background-color:blueviolet;
    padding: 10px 40px;
    color: white;
    font-weight: 700; 
    border-radius:  5px;
}

hr{
    border: 1px solid #D1D1D1
    argin-bottom: 27px;
}



.link{
    text-align: right;
    padding-right:  250px;
    color: blueviolet;
      
}
#none{
    text-decoration: none;
}



#title{
    text-align: center;
}



/* courses style */

.latest-course{  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    
padding: 5% 5% 5% 5%;
    
}

.course .course-banner img{
    width: 250px;
    height: 250px;
   

}

.course-info{

    display: flex;
    align-items: center;
    justify-content: space-between;
    


}
.fa-star.filled{
    color: #FFC014;

}



#last{
    margin-bottom: 20px;
    padding: 5%  5%  5%  5%
}



/* footer */

.ft-lst{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}

.fab{
    padding-left: 25px;
}




/* media ipad*/
@media only  screen and (min-width:688px ) and (max-width:992px) {

    }
