/* fonts */

body{
    font-family: 'Cormorant Garamond', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
}

/* common style */
h1{
    font-size: 50px;
    
    margin: 0;
}

.head{
    width: 80%;
    padding: 50px 100px;
    
}

.flexible-container{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;

}
.half-width img{
    width: 80%;
    
}
.profile img{ 
    width: 450px;
    margin-bottom: 30px;
    
}

.photo-frame{
    width: 400px;
    height: 380px;
    padding-left: 2%;
    border:2px solid goldenrod;
    
    
   
    
}
.photo-frame:hover img{
    transform: scale(1.1);
    transition: transform 2s ease-in-out;

}

/* button style */

.link-button{
    text-decoration: none;
    background-color:blueviolet;
    padding: 10px 40px;
    color: white;
    font-weight: 700; 
    border-radius:  5px;
}




.link{
    text-align: right;
    padding-right:  250px;
    color: blueviolet;
      
}
#none{
    text-decoration: none;
}



#title{
    text-align: center;
}



/* courses style */

.latest-course{  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    
padding: 5% 5% 5% 5%;
    
}

.course .course-banner img{
    width: 250px;
    height: 250px;
   

}

.course-info{

    display: flex;
    align-items: center;
    justify-content: space-between;
    


}
.fa-star.filled{
    color: #FFC014;

}



#last{
    margin-bottom: 20px;
    padding: 5%  5%  5%  5% ;
}

#box{
    background-color:rgba(238, 224, 224, 0.801);
    
    margin-bottom: 25px;
    margin-right: 15%;
    margin-left: 5%;
    padding: 10% 10% 10% 10% ;
    
    
    box-shadow: 5px 10px 100px rgb(145, 129, 129);
}



/* footer */

.ft-lst{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}

.fab{
    padding-left: 25px;
}




/* media ipad*/
@media only  screen and (min-width:688px ) and (max-width:992px) {

    }
